# place this in your dbus service files directory to activate in the background
# in my case this directory was ~/.local/share/dbus-1/services/
[D-BUS Service]
Name=cc.malhotra.karmanyaah.testapp.golibrary
Exec=<path to binary>/<binary name> UNIFIEDPUSH_DBUS_BACKGROUND_ACTIVATION
